In [1]:
print('Saya suka kwetiau')

Saya suka kwetiau

In [2]:
print('Ini Kelas Algoritma')

Ini Kelas Algoritma

In [ ]:
print('I don't understand what are you saying')

ketika menggunakan tanda (') pada kalimat yang ingin ditampilkan, gunakan petik dua (") agar code tidak error

In [3]:
print("I don't understand what are you saying")

I don't understand what are you saying

In [4]:
print('He is such a "GENIUS"')

He is such a "GENIUS"

In [ ]:
print("He is such a "GENIUS"")

gunakan salah satu tanda, petik satu (') atau petik dua (") tidak boleh ada kedua unsur tersebut dalam satu kondisi

In [8]:
print('I like to eat kwetiau seafood')

I like to eat kwetiau seafood

In [9]:
print("Just keep swimming")

Just keep swimming

In [10]:
print('I love seafood')

I love seafood

In [11]:
mahasiswa = 42
uang_di_dompet = 100000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet)

42
100000
4200000

In [12]:
karyawan = 38
gaji_perbulan = 2500000
print(karyawan)
print(gaji_perbulan)
print(karyawan*gaji_perbulan)

38
2500000
95000000

In [13]:
kost_terisi = 15
harga_kost = 750000
pemasukan_kost = kost_terisi*harga_kost
print(kost_terisi)
print(harga_kost)
print(pemasukan_kost)

15
750000
11250000

In [14]:
nama_depan = 'Luh Putu '
nama_tengah = 'Deswinta'
nama_belakang = ' Dharmariani'
print(nama_depan + nama_tengah + nama_belakang)

Luh Putu Deswinta Dharmariani

In [15]:
nama_depan = 'Deswinta'
nama_belakang = 'Dharmariani'
print(nama_belakang + ', ' +nama_depan)

Dharmariani, Deswinta

# 5.2 Input

In [16]:
nama = input("Siapakah nama anda? ")
kegiatan = input('Apakah kegiatan anda sekarang, ' + nama + "? ")
print("Semangat " + kegiatan + " nya yah, " + nama + "!" )

Siapakah nama anda? Deswinta
Apakah kegiatan anda sekarang, Deswinta? Kuliah
Semangat Kuliah nya yah, Deswinta!

In [18]:
kuliah = input('Kamu kuliah dimana? ')
prodi = input("Program studi apa tuh? ")
print("Wah seru banget kuliah " + prodi + ", kamu yang semangat yaa kuliahnya!")

Kamu kuliah dimana? Udayana
Program studi apa tuh? Matematika
Wah seru banget kuliah Matematika, kamu yang semangat yaa kuliahnya!

In [39]:
print("Biodata mahasiswa Program Studi Matematika Tahun 2022")
nama = input("Nama : ")
alamat = input("Alamat : ")
umur = input("Umur : ")
# mencetak isi variabel
print(nama)
print(alamat)
print(umur)

Biodata mahasiswa Program Studi Matematika Tahun 2022
Nama : Deswinta
Alamat : Bandung
Umur : 18
Deswinta
Bandung
18

# 5.3 Tipe Data pada Python

In [20]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input('Berapakah jumlah uang anda di Bank? ')
print('Total uang anda adalah Rp ' + uang_di_dompet + uang_di_bank)

Berapakah jumlah uang di dompet anda? 1000
Berapakah jumlah uang anda di Bank? 2000
Total uang anda adalah Rp 10002000

In [22]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input('Berapakah jumlah uang anda di Bank? ')
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print('Total uang anda adalah Rp ' + str(total_uang))

Berapakah jumlah uang di dompet anda? 1000
Berapakah jumlah uang anda di Bank? 2000
Total uang anda adalah Rp 3000

In [24]:
type(uang_di_dompet)

str

In [25]:
type(uang_di_bank)

str

In [23]:
type(total_uang)

int

In [26]:
bil_satu = input('Masukkan bilangan pertama: ')
bil_kedua = input('Masukkan bilangan kedua: ')
jumlah = float(bil_satu) + float(bil_kedua)
print("Jumlah kedua bilangan adalah "+ str(jumlah))

Masukkan bilangan pertama: 1
Masukkan bilangan kedua: 2
Jumlah kedua bilangan adalah 3.0

In [34]:
print("Halo, selamat datang pada cek Nilai Algoritma!")
indiv = input('Masukkan nilai tugas Individu: ')
klp = input('Masukkan nilai tugas kelompok: ')
hadir = input('Masukkan nilai kehadiran: ')
kuis = input('Masukkan nilai kuis: ')
uts = input('Masukkan nilai UTS: ')
uas = input('Masukkan nilai UAS: ')
jumlah = float(indiv) + float(klp) + float(hadir) + float(kuis) + float(uts) + float(uas)
rata = float(jumlah) / 6
print("Jadi nilai yang didapat pada mata kuliah Algoritma adalah " + str(rata))

Halo, selamat datang pada cek Nilai Algoritma!
Masukkan nilai tugas Individu: 95
Masukkan nilai tugas kelompok: 89
Masukkan nilai kehadiran: 90
Masukkan nilai kuis: 87
Masukkan nilai UTS: 88
Masukkan nilai UAS: 89
Jadi nilai yang didapat pada mata kuliah Algoritma adalah 89.66666666666667

# 5.4 Formatted String

In [40]:
nama = "Maudy Ayunda"
alamat = 'Jimbaran'
print(nama + " tinggal di " + alamat)

Maudy Ayunda tinggal di Jimbaran

In [42]:
#mencoba print dengan format yang berbeda
nama = "Maudy Ayunda"
alamat = 'Jimbaran'
print(f'{nama} tinggal di {alamat}.')

Maudy Ayunda tinggal di Jimbaran.

In [43]:
#mencoba print dengan format yang berbeda
nama = "Maudy Ayunda"
alamat = 'Jimbaran'
print(f"{nama} tinggal di {alamat}.")

Maudy Ayunda tinggal di Jimbaran.

In [ ]:
nama = "Maudy Ayunda"
alamat = 'Jimbaran'
print(nama + " tinggal di " + alamat)