# Pertemuan Ketiga 20 Maret 2023

pada pertemuan minggu ketiga kami belajar mengenai strings index (5.1) sampai dengan operator if (5.10) dalam python

## 5.5 Strings Index

In [4]:
fac = 'Faculty of Mathematics and Natural Science Udayana University'
print("Faculty[0]: ", fac[0])

Faculty[0]:  F

In [2]:
mystring = 'Python Easy'

In [27]:
print(mystring[1:4])

yth

In [28]:
print(mystring[3:4])

h

In [29]:
print(mystring[2:-6])

tho

In [35]:
print(mystring[2:-3:3])

tn

In [36]:
print(mystring[2:-2:3])

tna

In [3]:
print(mystring[2:-2:-1])

###### UNTUK MEMPERMUDAH PEMAHAMAN #####
CONTOH
mystring = 'Python Easy'
print(mystring[2:-3:3])
P    y   t  h  o  n     E  a  s  y
0    1   2  3  4  5  6  7  8  9  10
-11 -10 -9 -8 -7 -6 -5 -4 -3 -2  -1

#output : tn

slicing string [2:-3:3] diatas bisa juga diartikan membuat string dari indeks 2 dari depan sampai indeks -5 dari belakang dan "loncat" 3 (dari indeks 2 sampai indeks -5)

## 5.6 Strings Methods

In [2]:
judul = "Pluto is not a planet"
print(len(judul))

21

##### NOTES #####
len digunakan untuk menghitung jumlah kata dan spasi

In [40]:
judul.upper()

'PLUTO IS NOT A PLANET'

##### NOTES #####
upper untuk uppercase/membuat tulisan menjadi kapital

In [41]:
judul.lower()

'pluto is not a planet'

##### NOTES #####
lower untuk lowercase/membuat tulisan menjadi huruf kecil

In [42]:
judul.find('planet')

15

In [50]:
judul.find('is')

6

##### NOTES #####
find untuk memunculkan letak indeks string yang diminta

In [51]:
judul.find('IS')

-1

In [52]:
judul.find('PLuto')

-1

In [53]:
judul.find('PLUP')

-1

##### NOTES #####
python memiliki case sensitif,
ketika kata yang dicari tidak sesuai dengan data yang ada, 
maka akan menghasilkan -1

In [54]:
judul.replace('Pluto', 'Venus')

'Venus is not a planet'

In [55]:
judul.replace('pluto', 'Venus')

'Pluto is not a planet'

##### NOTES #####
python memiliki case sensitif,
ketika kata yang dimasukkan tidak sesuai dengan data yang ada
termasuk perbedaan kapitalisasi
maka, apapun inputnya tidak berjalan.

In [57]:
print('planet' in judul)

True

In [58]:
print('Planet' in judul)

False

In [3]:
print('Pluto' in judul)

True

In [4]:
print('Not' in judul)

False

In [5]:
print('is' in judul)

True

## 5.7 Operasi Matematika di Python

berikut adalah operasi matematika pada python

In [6]:
a = input("Masukkan nilai a:")
b = input("Masukkan nilai b:")

Masukkan nilai a:3
Masukkan nilai b:6

In [7]:
# Operator penjumlahan
print(float(a) + float(b))

# Operator pengurangan
print(float(a) - float(b))

# Operator perkalian
print(float(a) * float(b))

# Operator pembagian
print(float(a) / float(b))

# Operator pembulatan pembagian
print(float(a) // float(b))

# Operator sisa bagi/modulo
print(float(a) % float(b))

# Operator pangkat
print(float(a) ** float(b))

9.0
-3.0
18.0
0.5
0.0
3.0
729.0

In [98]:
#Augmented operator
x = 3
y = 2
z = 5
x+=6
y-=3
z*=2
print(x)
print(y)
print(z)

9
-1
10

Selanjutnya saya berlatih untuk menerapkan beberapa formula diatas pada operasi hitung luas dan volume untuk bidang datar dan ruang. Beberapa lalu terjadi error karena saya salah saat menginisialisasikan, error juga sempat terjadi karena algoritma yg disusun kurang sesuai. Berikut adalah hasil trial and error yang saya lakukan.

In [36]:
# Formula for the Area of a Square #

s = float(input("Input the side  : "))

area = s**2

print("The Area of a Square is " + str(area))

Input the side  : 2
The Area of a Square is 4.0

In [10]:
# Formula for the Area of a Triangle #

b = float(input("Input the base  : "))
h = float(input("Input the height : "))

area = 0.5*b*h

print("The Area of a Triangle is " + str(area))

Input the base  : 13
Input the height : 15
The Area of a Triangle is 97.5

In [11]:
# Formula for the Area of a Rectangle #

l = float(input("Input the lenght : "))
w = float(input("Input the widht : "))

area = l*w

print("The Area of a Rectangle is " + str(area))

Input the lenght : 3
Input the widht : 4
The Area of a Rectangle is 12.0

In [28]:
# Formula for the Area of a Circle #

pi = 3.14
r = float(input("Input the radius of a circle : "))

area = pi*(r**2)

print("The Area of a Circle is " + str(area))

Input the radius of a circle : 10
The Area of a Circle is 314.0

In [37]:
# Formula for the Volume of a Triangular Prism #

b = float(input("Input the base of triangle : "))
hb = float(input("Input the height of triangle : "))

base_area = 0.5*b*hb

h = float(input("Input the height of triangular prism : "))
volume = base_area*h

print("The Volume of a Triangular Prism is " + str(volume))

Input the base of triangle : 3
Input the height of triangle : 4
Input the height of triangular prism : 10
The Volume of a Triangular Prism is 60.0

In [38]:
# Formula for the Volume of a Rectangular Tank #

l = float(input("Input the lenght of rectangle : "))
w = float(input("Input the widht rectangle : "))

base_area = l*w

h = float(input("Input the height of rectangular tank : "))
volume = base_area*h

print("The Volume of a Rectangular Tank is " + str(volume))

Input the lenght of rectangle : 3
Input the widht rectangle : 4
Input the height of rectangular tank : 5
The Volume of a Rectangular Tank is 60.0

In [39]:
# Formula for the Volume of a Cylinder #

pi = 3.14
r = float(input("Input the radius of a circle : "))

base_area = pi*(r**2)

h = float(input("Input the height of cylinder : "))
volume = base_area*h

print("The Volume of a Cylinder is " + str(volume))

Input the radius of a circle : 5
Input the height of cylinder : 10
The Volume of a Cylinder is 785.0

In [40]:
# Formula for the Volume of a Triangular Pyramid #

b = float(input("Input the base of triangle : "))
hb = float(input("Input the height of triangle : "))

base_area = 0.5*b*hb

h = float(input("Input the height of triangular pyramid : "))
volume = (base_area*h)/3

print("The Volume of a Triangular Pyramid is " + str(volume))

Input the base of triangle : 5
Input the height of triangle : 7
Input the height of triangular pyramid : 9
The Volume of a Triangular Pyramid is 52.5

In [41]:
# Formula for the Volume of a Rectangular Pyramid #

l = float(input("Input the lenght of rectangle : "))
w = float(input("Input the widht rectangle : "))

base_area = l*w

h = float(input("Input the height of rectangular piramyd : "))
volume = (base_area*h)/3

print("The Volume of a Rectangular Pyramid is " + str(volume))

Input the lenght of rectangle : 5
Input the widht rectangle : 7
Input the height of rectangular piramyd : 8
The Volume of a Rectangular Pyramid is 93.33333333333333

In [42]:
# Formula for the Volume of a Cone #

pi = 3.14
r = float(input("Input the radius of a circle : "))

base_area = pi*(r**2)

h = float(input("Input the height of cylinder : "))
volume = (base_area*h)/3

print("The Volume of a Cone is " + str(volume))

Input the radius of a circle : 6
Input the height of cylinder : 8
The Volume of a Cone is 301.44

## 5.8 Operator Perbandingan di Python

In [26]:
x = 2>4
print(x)
print(~x)

False
-1

In [117]:
x = 2<4
print(x)
print(~x)

True
-2

In [115]:
x = 2>=4
print(x)
print(~x)

False
-1

In [25]:
x = 2<=4
print(x)
print(~x)

True
-2

In [110]:
x = 2==4
print(x)
print(~x)

False
-1

In [112]:
x = 2!=4
print(x)
print(~x)

True
-2

saya masih belum paham mengapa True = -2 dan False = -1

In [23]:
p = a<b
print (p)
print (~p)
p = a>b
print (p)
print (~p)
p = a >= b
print (p)
p = a <= b
print (p)
p = a == b
print (p)
p = a != b
print (p)

True
-2
False
-1
False
True
False
True

Dari contoh diatas, terlihat bahwa tidak hanya angka yang bisa dibandingkan, huruf juga.
Terlihat juga bahwa jika bernilai True sama artinya dengan (-2) dan bernilai False sama dengan (-1)

## 5.9 Operator Logika di Python

In [122]:
starfruit = 7
mango = 4
print(starfruit > 8 and mango < 12)

False

In [123]:
print(starfruit > 8 or mango < 12)

True

In [125]:
print(starfruit < 8 or mango > 12)

True

In [126]:
print(not(starfruit > 8 and mango < 12))

True

In [44]:
bil_1 = 23
bil_2 = 39
print(bil_1 > 20 and bil_2 < 2)
print(bil_1 > 20 or bil_2 < 2)
print(bil_1 < 20 and bil_2 > 2)
print(bil_1 < 20 or bil_2 > 2)

False
True
False
True

## 5.10 Operator if di Python

In [45]:
grade = float(input("Input your grade "))
if grade >= 80:
    print("You got an A grade")
    print("Amazing, congratulation!")
if grade < 80 and grade >= 70:
    print("You got a B grade")
    print("Keep it up!")
if grade < 70 and grade >= 60:
    print("You got a C grade")
    print("Good, upgrade it.")
if grade < 70 and grade >= 60:
    print("You got a D grade")
    print("Huft, let's fix it next year.")
if grade < 60 and grade >= 50:
    print("You got a E grade")
    print("fix it next year")

Input your grade 89
You got an A grade
Amazing, congratulation!

In [47]:
grade = float(input("Input your grade "))
if grade >= 80:
    print("You got an A grade")
    print("Amazing, congratulation!")
elif grade < 80 and grade >= 70:
    print("You got a B grade")
    print("Keep it up!")
elif grade < 70 and grade >= 60:
    print("You got a C grade")
    print("Good, upgrade it.")
elif grade < 70 and grade >= 60:
    print("You got a D grade")
    print("Huft, let's fix it next year.")
if grade < 60 and grade >= 50:
    print("You got a E grade")
    print("fix it next year")

Input your grade 89
You got an A grade
Amazing, congratulation!

In [46]:
nilai = float(input("Masukan nilai anda "))
if nilai >= 80:
    print("Nilai A")
    print("Anda sangat hebat")
if nilai < 80 and nilai >= 70:
    print("Nilai B")
    print("Sudah Baik, tingkatkan")
if nilai < 70 and nilai >= 60:
    print("Nilai C")
    print("Cukup, tingkatkan")
if nilai < 60 and nilai >= 50:
    print("Nilai D")
    print("Mari perbaiki ditahun depan")
if nilai < 50:
    print("Nilai E")
    print("Perbaiki tahun depan")

Masukan nilai anda 75
Nilai B
Sudah Baik, tingkatkan

In [48]:
nilai = float(input("Masukan nilai anda "))
if nilai >= 80:
    print("Nilai A")
    print("Anda sangat hebat")
elif nilai < 80 and nilai >= 70:
    print("Nilai B")
    print("Sudah Baik, tingkatkan")
elif nilai < 70 and nilai >= 60:
    print("Nilai C")
    print("Cukup, tingkatkan")
elif nilai < 60 and nilai >= 50:
    print("Nilai D")
    print("Mari perbaiki ditahun depan")
if nilai < 50:
    print("Nilai E")
    print("Perbaiki tahun depan")

Masukan nilai anda 75
Nilai B
Sudah Baik, tingkatkan

In [99]:
print("Panduan Ukuran Kemeja Wanita Uniqlo")
pjg_blk = float(input("Masukan panjang belakang tubuh (range 74-84): "))
if pjg_blk >= 84:
    print("XXXL")
elif pjg_blk >= 83:
    print("XXL")
elif pjg_blk >= 82:
    print("XL")
elif pjg_blk >= 80:
    print("L")
elif pjg_blk >= 78:
    print("M")
elif pjg_blk >= 76:
    print("S")
if pjg_blk < 74:
    print("XS")
    
lebar_tubuh = float(input("Masukan lebar tubuh (range 58-75): "))
if lebar_tubuh >= 74:
    print("XXXL")
elif lebar_tubuh >= 71:
    print("XXL")
elif lebar_tubuh >= 68:
    print("XL")
elif lebar_tubuh >= 65:
    print("L")
elif lebar_tubuh >= 62:
    print("M")
elif lebar_tubuh >= 60:
    print("S")
if lebar_tubuh < 58:
    print("XS")
    
pjg_lengan = float(input("Masukan panjang lengan (range 74-81): "))
if pjg_lengan >= 81:
    print("XXXL")
elif pjg_lengan >= 80:
    print("XXL")
elif pjg_lengan >= 79:
    print("XL")
elif pjg_lengan >= 78:
    print("L")
elif pjg_lengan >= 77:
    print("M")
elif pjg_lengan >= 76:
    print("S")
if pjg_lengan < 74:
    print("XS")

Panduan Ukuran Kemeja Wanita Uniqlo
Masukan panjang belakang tubuh (range 74-84): 79
M
Masukan lebar tubuh (range 58-75): 63
M
Masukan panjang lengan (range 74-81): 77
M