# Pengenalan Python

In [2]:
print("Hari ini saya mulai belajar Python")
#Saya mencoba buku referensi yang dikirimkan Pak Made Eka

Hari ini saya mulai belajar Python

In [4]:
print('Perkuliahan hari ini kami menyampaikan kesulitan saat instalasi Anaconda')

Perkuliahan hari ini kami menyampaikan kesulitan saat instalasi Anaconda

In [5]:
print('Python itu sangat simple broo');
#Ada percobaan dengan menggunakan tanda semicolon (;) dan tidak berpengaruh apa-apa.

Python itu sangat simple broo

# Tipe Data

Menambah cell dapat dilakukan hanya dengan klik huruf "B" pada keyboard, wow
Ketika ingin run code, kita bisa klik "Ctrl + Enter" pada keyboard
Pada buku dijelaskan mengenai tipe data
Tipe data yang digunakan tidak jauh beda dengan tipe data pada C++

In [11]:
#tipe data Boolean
print(True)
print (False)

#tipe data String
print('FMIPA UNUD, Prodi Matematika')
print('FT UNUD, Prodi Teknik Sipil')

#tipe data Integer
print (80)
print(11)

#tipe data Float
print (3.14)
print(12.23)

#tipe data Complex
print(5j)
print (3j) #saya coba gunakan huruf selain j, namun error/tidak valid


#tipe data List
print([2,3,5,7])
print (['satu', 'dua', 'tiga'])
#tipe data Tuple
print((1,1,2,3,5))
print((1,2,2,4,3,6))
print (('satu', 'dua', 'tiga'))

#tipe data Dictionary
print({'nama':'Deswinta', 'umur':19})
#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {'nama':'Yuni', 'umur':19} #ini proses inisialisasi variabel biodata
#proses pencetakan variabel biodata yang berisi tipe data Dictionary
print(biodata)
#fungsi untuk mengecek jenis tipe data akan tampil <class 'dict'>
#berarti dict adalah tipe data dictionary
type(biodata)

True
False
FMIPA UNUD, Prodi Matematika
FT UNUD, Prodi Teknik Sipil
80
11
3.14
12.23
5j
3j
[2, 3, 5, 7]
['satu', 'dua', 'tiga']
(1, 1, 2, 3, 5)
(1, 2, 2, 4, 3, 6)
('satu', 'dua', 'tiga')
{'nama': 'Deswinta', 'umur': 19}
{'nama': 'Yuni', 'umur': 19}

dict

setelah di-run, walaupun terdapat spasi setelah kata 'print' itu tidak berpengaruh

# Variabel Python

In [12]:
#memasukkan data ke dalam variabel
univ = 'Universitas Udayana'
#proses cetak variabel
print(univ)

Universitas Udayana

In [13]:
#nilai dan tipe data dalam variabel dapat diubah
umur = 19                        #nilai awal variabel
print(umur)                      #print nilai umur
type(umur)                       #mengecek tipe data umur
umur = "sembilan belas tahun"    #nilai setelah diubah
print(umur)                      #print nilai umur
type(umur)                       #mengecek tipe data umur

19
sembilan belas tahun

str

In [8]:
namaDepan = 'Luh Putu'
namaBelakang = 'Deswinta'
nama = namaDepan + ' ' + namaBelakang
umur = 19
hobi = 'Memasak'
print('Biodata\n', nama,'\n', umur, '\n', hobi)

Biodata
 Luh Putu Deswinta
 19
 Memasak

sama seperti C++, '\n' digunakan untuk print pada baris selanjutnya atau sama dengan fungsi enter

In [7]:
#contoh variabel lainnya
inivariabel = 'Halo'
ini_juga_variabel = 'Hai'
_inivariabeljuga = 'Hi'
inivariabel222 = 'Bye'

dapat disimpulkan nama untuk suatu variabel itu adalah kata bebas yang tidak memiliki spasi, hindari juga penggunaan nama variabel yang sama karena nama variabel bersifat sensitif

In [6]:
panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

50